@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patua+One&display=swap');
body {
    background-color: #4c7eb8 !important;
}
h1{
    font-family:  "Patua One", serif !important;
    font-weight: 400;
    font-style: normal;
    color: antiquewhite !important;
}

#card-goal, #card-total{
    width: 40%;
}

#card-quantity {
    width: 40%;
}

#emailWarning{
    display: none;
}
#passwordWarning{
    display: none;
}